:root {
  --maxStarSize: 4;
  --maxBlur: 40;
}

/*This is when we go into portrait mode.*/
@media  screen and (max-width: 750px) {
  :root {
    --maxStarSize: 2;
  }
}

.glow {
    color: #fff;
    text-align: center;
    filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 1px #fff)drop-shadow(0 0 2px #d001ff);
    filter: drop-shadow(0 0 2px #d001ff); 
    
   
}



.c1 h2, .c2 h2 {
  white-space: nowrap;
}


.opaque {
  opacity: 0;
  transform: translateX(0) translateY(-50px);
}

.observed .opaque {

  opacity: 1;
  transform: translate(0);
  transition: opacity 600ms 100ms linear, transform 400ms 100ms linear;
}

.noIntObs .opaque {
  opacity: 1;
  transform: translate(0);
}



/*.observed .left {

   transform: translateX(0);
   opacity: 1;
   transition: opacity 0s 0.6s linear;
   -webkit-animation: flyingLeft 2.2s cubic-bezier(0.05, 0.44, 0, 1);
   -moz-animation:flyingLeft 2.2s cubic-bezier(0.05, 0.44, 0, 1);
   animation: flyingLeft 1s 0.5s cubic-bezier(0.1, 0.44, 0, 1);


}

.observed .right {
  transform: translateX(0);
  opacity: 1;
  transition: opacity 0s 0.6s linear;
  -webkit-animation: flyingRight 2.2s cubic-bezier(0.05, 0.44, 0, 1);
  -moz-animation:flyingRight 2.2s cubic-bezier(0.05, 0.44, 0, 1);
  animation: flyingRight 1s 0.5s cubic-bezier(0.1, 0.44, 0, 1);
}*/

.intersect {
  position: relative;
}



.wave {
  opacity: 0;
}

.observed .wave {
  opacity: 1;
  transition: opacity 200ms 100ms linear;
  -moz-animation: wave 0.5s 0s linear 1;
  -webkit-animation: wave 0.5s 0s linear 1;
  animation: wave 0.5s 0s linear 1;
}

/*When browser does not support intersection observer*/
.noIntObs .c2 h2, .noIntObs .c1 h2 {
  overflow: visible;
}

.load-wheel::after {
  -moz-animation: spin 1s linear infinite;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}


    
@keyframes typing {
    0% { 
        width: 0;
     }
    90% { 
        width: 100%;
        border-right-color: var(--highlight-color-1);
    }
    100% {
        width: 100%;
        border-right-color: transparent;
    }
}
  
@keyframes blinking {
    0% {border-right-color: transparent}
    50% {border-right-color: var(--highlight-color-1)}
    100% {border-right-color: transparent}
}

@keyframes glow {
    0%, 100% {
        filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 1px #fff)drop-shadow(0 0 2px #e63a00);
      }
    25% {
        filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 1px #fff)drop-shadow(0 0 2px #bc00e6);
      }
    75% {
        filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 1px #fff)drop-shadow(0 0 2px #142bd8);
      }
}
@-webkit-keyframes glow {
  0%, 100% {
    filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 1px #fff)drop-shadow(0 0 2px #e63a00);
  }
25% {
    filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 1px #fff)drop-shadow(0 0 2px #bc00e6);
  }
75% {
    filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 1px #fff)drop-shadow(0 0 2px #142bd8);
  }
}

@keyframes funBtn {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@-webkit-keyframes funBtn {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 400px 0;
  }
}

@keyframes funBtn-mobile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300px 0;
  }
}

@-webkit-keyframes funBtn-mobile {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 300px 0;
  }
}

@keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@-webkit-keyframes spin {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}

@keyframes flyingLeft {
  0% {
    transform: translateX(-40px) translateY(20px);
    border: 2px solid rgb(240, 240, 240);
    /* background-color: var(--highlight-color-1); */
    box-shadow: -12px 12px 8px rgba(230, 230, 230, 0.8);
    opacity: 1;
  }
  60% {
    transform: translateX(40px) translateY(-20px);
    border: 2px solid rgb(240, 240, 240);
   /* background-color: var(--highlight-color-1); */
   background-color: white;
    box-shadow: -12px 12px 8px rgba(230, 230, 230, 0.8);
    opacity: 1;

  }
  100% {
    transform: translateX(0) translateY(0);
    border: 2px solid transparent;
    background-color: transparent;
    box-shadow: none;
    opacity: 1;
  }

}

@keyframes flyingRight {
  0% {
    transform: translateX(40px) translateY(20px);
    border: 2px solid rgb(240, 240, 240);
    /* background-color: var(--highlight-color-2); */
    box-shadow: 12px 12px 8px rgba(230, 230, 230, 0.8);
    
  }
  60% {
    transform: translateX(-40px) translateY(-20px);
    border: 2px solid rgb(240, 240, 240);
    box-shadow: 12px 12px 8px rgba(230, 230, 230, 0.8);
   /* background-color: var(--highlight-color-2); */
   background-color: white;
  }
  100% {
    transform: translateX(0) translateY(0);
    background-color: var(--highlight-color-1);
    border: 2px solid transparent;
    background-color: transparent;
    box-shadow: none;
  }

}


@keyframes wave {
  0% {
    transform: rotateZ(-30deg);
  }
  25% {
    transform: rotateZ(-50deg);
  }
  50% {
    transform: rotateZ(-30deg);
  }
  75% {
    transform: rotateZ(-50deg);
  }
  99% {
    transform: rotateZ(0deg);
  }
}

@keyframes brush {
  0% {
    opacity: 0;
    -webkit-mask-position: -200%;
  }
  100% {
    opacity: 0.6;
    -webkit-mask-position: center;
  }
}

@-webkit-keyframes brush {
  0% {
    opacity: 0;
    -webkit-mask-position: -200%;
  }
  100% {
    opacity: 0.6;
    -webkit-mask-position: center;
  }
}