
@media (hover: none) { 
    #resume_btn a:hover {
        padding: 8px 60px;
    }

    #resume_btn a:hover span, #contact form button:hover span {
        opacity: 0;
        transform: translateX(-200%);
    }

    #contact form button:hover {
        border: 2px solid rgba(255, 255, 255, 0.4);
        background-color: #500259;
        box-shadow: none;
        padding: 8px 60px;
    }

    #footer-nav li:hover::after, #footer #resumeAdd:hover::after {
        background-color: inherit;
    }

    .modal-descr-highlight:hover::after {
        height: 30%;
    }

    .videoBtn:hover {
        background-color: #676767;
        color: white;
        border: 2px solid #676767;
    }

}


@media screen and (max-width: 1500px) {
    #footer-content {
        width: 100%;
        justify-content: space-evenly;
    }

    #footer-content > div {
        width: initial;
    }

    #title {
        top: 28%;
    }


    
}

@media  screen and (max-width: 1200px) {
    #about-flex-1 h2 {
        font-size: 1.6em;
    }
}

@media  screen and (max-width: 1000px) {
    #about-flex-1 h2 {
        font-size: 1.4em;
    }

    #footer-content h4 {
        font-size: 1.2em;
    }

    #footer-content #footer-nav li {
        font-size: 1em;
    }

    #footer-content li ul li {
        font-size: 0.9em;
    }
}

@media  screen and (max-width: 900px) {
    #about-flex-3 {
        margin: 80px 80px 60px 70px;
    }

    .carousel-wrapper {
        margin: 0 0 80px 0;
    }
    
    #contact {
        width: 90%;
        box-shadow: none;
        margin: 0 auto;
        border-radius: 10px;
    }

    #about-flex-1 h2 {
        font-size: 1.2em;
    }

    .modal-content {
        position: relative;
        width: 96%;
        margin: 0 auto;
        z-index: 1;
    }

    section {
        padding: 0 40px;
    }
}

@media  screen and (max-width: 800px) {
    #innerTitleBox h2 {
        font-size: 3.5em;
    }


}


/*This is when we go into portrait mode.*/
@media  screen and (max-width: 750px) {
    #about {
        padding-top: 40px;
        padding-bottom: 60px;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
        box-shadow: none;
    }

    .inModal.imgDivider {
        width: 100%;
    }


    #hero_header {
        height: 700px;
    }

    #outerTitleBox, #innerTitleBox {
        justify-self: start;
        align-items: start;
    }

    #innerTitleBox h4 {
        font-size: 1.2em;
        text-align: left;
        line-height: 4em;
    }

    #innerTitleBox span::after {
        content: "\a";
        white-space: pre;
    }

    #innerTitleBox h2 {
        font-size: 4em;
        text-align: left;
        line-height: 1.5em;
    }
    
    #title-brush-stroke::before {
        width: 45%;
        left: auto;
        right: 0;
    }


    .glow {
       
        filter: drop-shadow(0 0 1px #fff)drop-shadow(0 0 2px #d001ff);
    } 

    #title-brush-stroke {
        width: 95%;
    }
    

    .modal {
        font-family: 'Ubuntu';
    }

    .modal-content {
        width: 96%;
        transform: translateY(300px);
    }

    .modal-dynamic-data {
        display: flex;
        flex-direction: column;
        min-height: inherit;
    }

    .modal-dynamic-data a {
        width: fit-content;
        display: block;
        margin: auto 0 0 0;
    }

    .modal-dynamic-data img {
        width: 100%;
        margin: 0;
        border-radius: 0 0 20px 20px;
        border-top: 2px solid #696969;
    }

    .modal-descr-highlight:hover::after {
        height: 100%;
    }

    .modal-descr-highlight::after {
        height: 100%;
    }

    .wave-divider {
        z-index: 6;
        bottom: 0;
        transform: none;
    }

    #skills .wave-divider {
        transform: scaleX(-1) !important;
        z-index: 6;
    }

    #resume .wave-divider {
        bottom: -230px;
        z-index: 6;

    }



    .desktop-divider {
        display: none;
    }

    .mobile-divider {
        display: block;
    }

    #hero_wrapper {
        z-index: 6;
    }

    #about, #resume {
        z-index: 6;
        font-family: 'Ubuntu';
    }

    #about, #resume, .modal-content {
        font-family: 'Ubuntu';
        color: var(--soft-text-color);
    }

    #about-flex-4 {
        flex-direction: column;
        z-index: 7;
        position: relative;
    }

    #about-flex-4 div {
        width: 100%;
    }

    #resume_btn {
        margin: 40px auto;
        width: fit-content !important;
    }



    #skills .about-image img {
        margin-top: 0;
        position: relative;
    }

    #skills .about-image .mobile-image {
        color: white;
        display: block;
    }

    #about-flex-1 {
        flex-direction: column;
     }


     #about-flex-2 {
        flex-direction: column-reverse;
     }



    #about-flex-1 > div:nth-child(1) {
        width: 100%;
    }

    #about-flex-1 > div:nth-child(2) {
        width: 100%;
    }

    #about-flex-2 > div:nth-child(1) {
        width: 100%;
    }

    #about-flex-2 > div:nth-child(2) {
        width: 100%;
    }

    #about-flex-3 > div:nth-child(1) {
        width: 80%;
    }

    #about-flex-3 > div:nth-child(2) {
        width: 20%;
    }

    #about-flex-4 > div {
        margin: 0;
    }

    #about-flex-4 > div > div {
        margin: 40px auto !important;
    }

    #about-flex-4 > div:nth-child(1) {
        flex-direction: column;
    }

    #about-flex-4 > div:nth-child(2) {
        flex-direction: column-reverse;
    }

    #about-flex-4 > div:nth-child(3) {
        flex-direction: column;

    }

    #about-flex-4 h2 {
        font-size: 1.5em;
    }


    #title {
        z-index: 1;
    }

    #hero_profilepic {
        z-index: 7;
    }

    #contact {
        box-shadow: none;
        background: none;
        border: none;
    }

    #contact::after {
        display: none;
    }

    #contact-section, #skills-section, #footer-section, #resume-section {
        z-index: 6;
        position: relative;
        height: 0;
        padding: 0;
    }

    #contact-section {
        display: block;
    }

    #skillsContent, #contactContent {
        position: relative;
        z-index: 6;
    }

    #skillsContent {
        margin: 0;
    }

    #contactContent {
        margin: 80px 0 0;
    }


    .carousel-wrapper {
        margin: 0 0 30px 0;
    }

    #skills {
        z-index: auto;
        font-family: 'Ubuntu';
    }

    #resume {
        padding-top: 0;
        padding-bottom: 60px;
        margin-bottom: 0;
        border-radius: 0;
    }

    #resume_btn a:link, #resume_btn a:visited, #resume_btn a:hover, #resume_btn a:active, #contact form button {
        font-size: 1.5em;
    }

    #contact form button {
        border-radius: 50px;
        font-weight: 200;
        margin-top: 80px;
        padding: 8px 60px;
    }

    

    #about-flex-3 .highlight-1, #about-flex-3 .highlight-2 {
        color: inherit;
        position: relative;
    }

    #about-flex-4 .highlight-1, #about-flex-4 .highlight-2 {
        color: white;
        position: relative;
        padding: 0 10px 2px;
    }

    #about-flex-3 .highlight-1::after, #about-flex-3 .highlight-2::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 40%;
        top: 13px;
        left: 0;
        z-index: -1;
    }

    #about-flex-4 .highlight-1::after, #about-flex-4 .highlight-2::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        transform: rotateZ(2deg) skewX(8deg);
    }

    #about-flex-3 .highlight-1:after {
        background-color: #ff7700a1;
    }

    #about-flex-3 .highlight-2:after {
        background-color: #e600ffa8;
    }

    #about-flex-4 .highlight-1:after {
        background-color: #ff7700a1;
    }

    #about-flex-4 .highlight-2:after {
        background-color: #e600ffa8;
    }

    #profileTextBubble {
        display: none;
    }

    section {
        padding: 0 40px;
    }

    #about-flex-2 {
        margin-top: 0;
    }


    #about-flex-3 {
        margin: 30px 30px 70px;
    }


    #about-flex-1 h2 {
        font-size: 1.8em;
    }

    #about-flex-2 h2 {
        font-size: 1.5em;
        line-height: 2em;
    }

    #about-flex-3 h2 {
        font-size: 1.5em;
    }

    .about-image img {
        width: 90px;
        height: 90px;
    }

    #about-flex-1 img {
        margin: 60px auto;
    }

    #about-flex-2 div .about-image  {
        margin: 60px auto 0;
    }

    #about-flex-1 > div:nth-child(1), #about-flex-2 > div:nth-child(1) {
        margin-right: 0;
    }
    
    #title {
        top: 20%;
    }


    #outerTitleBox {
        padding: 30px;
        margin: 0;
    }
    
    #innerTitleBox {
        padding: 10px;
    }


    .cItem {
        width: 200px;
        height: 260px;
        margin: 0 10px;
    }


    #footer {
        z-index: 6;
        position: relative;
    }

    #footer-content {
        width: 98%;
        justify-content: space-evenly;
    }

    #footer-content > div {
        width: initial;
    }
    

    #footer-content img {
        width: 140px;
    }

    #footer-content h4 {
        font-size: 1.1em;
    }

    #footer-content #footer-nav li {
        font-size: 1em;
    }

    #footer-content {
        flex-direction: column;
        align-items: center;
        padding: 40px 0 40px 0;
    }

    #footer-content > div {
        padding-bottom: 20px;
    }

    #footer-content > div > div > ul > li > ul {
        padding-bottom: 20px;
    }

    .youtubePlayer {
        z-index: 1000;
    }

    .youtubeContainer {
        width: 100%;
        height: 100%;
        border-radius: 0;
    }

    .youtubePlayer iframe {
        width: 100%;
        height: 315px;
    }

}

@media screen and (max-width: 650px) { 

    #about {
        padding-top: 0;
    }

    #contact-section, #skills-section, #footer-section {
        padding: 0;
    }


    #hero_profilepic div {
        width: 110px;
        height: 110px;
    }

    #hero_profilepic div img {
        width: 100px;
        height: 100px;
    }



    .about-image img {
        width: 80px;
        height: 80px;
    }


    #footer-content img {
        width: 120px;
    }

    #footer-content h4 {
        font-size: 1em;
    }

    #footer-content #footer-nav li {
        font-size: 0.8em;
    }

    #footer-content li ul li {
        font-size: 0.8em;
    }

    .cItem {
        width: 160px;
        height: 220px;
    }

    .cItem button img {
        width: 120px;
        padding: 0 0 40px;
    }
}

@media  screen and (max-width: 550px) {   

    #title-brush-stroke::before {
        width: 50%;
        left: auto;
        right: 0;
    }
    
    section {
        padding: 0 20px;
    }

    #hero-header {
        overflow-x: clip;
        overflow-y: visible;
    }


    #hero_profilepic {
        margin: 0 0 20px 0;
    }

    #about-flex-1 h2 {
        font-size: 1.5em;
    }

    #about-flex-2 h2 {
        font-size: 1.2em;
    }

    #innerTitleBox h2 {
        font-size: 3.5em;
    }

    #innerTitleBox h4 {
        font-size: 1.3em;
        padding: 20px 0 0 0;
        line-height: normal;
    }

    #title {
        top: 20%;
    }


    #contact-section, #skills-section, #footer-section {
        padding: 0;
    }

    #about-flex-3 h2 {
        font-size: 1em;
    }

    #about-flex-3 {
        margin: 20px 20px 30px;
    }


    #footer-content {
        flex-direction: column;
        align-items: center;
        padding: 40px 0 60px 0;
    }

    #footer-content > div {
        padding-bottom: 20px;
    }

    #footer-content > div > div {
        text-align: center;
    }

    #footer-content img {
        width: 120px;
        margin: 0;
    }

    #footer-content h4 {
        font-size: 1.5em;
    }

    #footer-content #footer-nav li {
        font-size: 1.2em;
    }

    #footer-content li ul li {
        font-size: 1.2em;
    }

}

@media screen and (max-width: 500px)  {

    #about {
        padding: 0 10px 0 20px;

    }

    #innerTitleBox h2 {
        font-size: 3.5em;
    }

    #innerTitleBox h4 {
        font-size: 1.2em;
    }

    #title {
        top: 25%;
    }

    #about-flex-2 {
        flex-direction: column-reverse;
    }

    .about-image img {
        width: 70px;
        height: 70px;
    }

    #about-flex-1 img {
        margin: 50px auto;
    }

    #about-flex-2 div .about-image {
        margin: 50px auto 30px;
    }

    #about-flex-3 h2 {
        font-size: 1.2em;
    }


    #contact-section, #skills-section, #footer-section {
        padding: 0;
    }

    

    #about-flex-3 {
        margin: 50px 10px 50px 20px;
    }

    #about-flex-4 h2 {
        font-size: 1.2em;
    }

    #about-flex-4 > div > div {
        margin: 25px auto !important;
    }

    #resume_btn a:link, #resume_btn a:visited, #resume_btn a:hover, #resume_btn a:active, #contact form button {
        font-size: 1em;
        padding: 8px 60px;
    }

    .carousel-wrapper {
        min-height: 200px;
        margin: 0 0 60px 0;

    }

    .carousel-btn {
        width: 70px;
        height: 70px;
    }

    .right-carousel-btn {
        right: -30px;
    }

    .left-carousel-btn {
        left: -30px;
    }

    .carousel-btn svg {
        width: 40px;
        height: 40px;
        display: block;
        padding: 0 4px;
    }

    .cItem button img {
        width: 100px;
    }

    .cItem {
        width: 130px;
        height: 180px;
        border-radius: 12px;
        margin: 0 5px;
    }

    #contact form input {
        width: 60%;
    }

    #footer-content h4 {
        font-size: 1.2em;
    }

    #footer-content #footer-nav li {
        font-size: 1em;
    }

    #footer-content li ul li {
        font-size: 1em;
    }
}


@media screen and (max-width: 450px) {

    #innerTitleBox h4 {
        font-size: 1.2em;
    }

    #innerTitleBox h2 {
        font-size: 3em;
        text-align: left;
        line-height: 2em;
    }
    
    #title-brush-stroke::before {
        width: 60%;
        left: auto;
        right: -5px;
    }

    #hero_header {
        height: 700px;
    }

    #title {
        top: 25%;
    }

    #outerTitleBox {
        padding: 10px;
    }

    #about {
        padding: 10px 10px 80px 10px;
    }

    #resume {
        padding-top: 80px;
        padding-bottom: 20px;
    }

    #hero_profilepic {
        margin: 0 0 40px 0;
    }


    #about-flex-1 h2 {
        font-size: 1.3em;
    }

    .about-image img {
        width: 60px;
        height: 60px;
    }

    #about-flex-3 > div:nth-child(1) {
        margin-right: 10px;
    }

    #about-flex-4 .about-image img {
        margin: 0 auto;
    }

    #about-flex-3 {
        margin: 20px 10px 40px 20px;
    }

    .carousel-wrapper {
        margin: 0 0 30px 0;
    }

    #about-flex-4 h2 {
        font-size: 1.1em;
    }

    #about-flex-2 h2 {
        font-size: 1.1em;
    }

    #about-flex-3 h2 {
        font-size: 1.1em;
    }

    .carousel-btn svg {
        width: 30px;
        height: 30px; 
    }

    .carousel-btn {
        width: 50px;
        height: 50px;
    }

    .right-carousel-btn {
        right: -20px;
    }

    .left-carousel-btn {
        left: -20px;
    }

    .cItem button img {
        width: 90px;
    }

    .cItem {
        width: 110px;
        height: 160px;
        border-radius: 14px;
    }

    .cItem button img {
        width: 90px;
        padding: 0 0 20px;
    }

    #contactTitle {
        font-size: 1.2em;
    }

    #contactContent {
        padding: 20px 20px 0;
    }

    #contact form input {
        width: 70%;
    }
}

@media screen and (max-width: 400px) {
    #innerTitleBox h4 {
        font-size: 1em;
        padding: 10px 0 0 0;
    }

    #innerTitleBox h2 {
        font-size: 3em;
        line-height: 1.5em;
    }

    #title {
        top: 30%;
    }

    

    #about-flex-1 h2 {
        font-size: 1.1em;
    }

    .about-image img {
        width: 45px;
        height: 45px;
    }

    #about-flex-2 h2 {
        font-size: 1.1em;
    }

    #about-flex-3 h2 {
        font-size: 1.1em;
    }

    #footer-content h4 {
        font-size: 1.2em;
    }

    #footer-content #footer-nav li {
        font-size: 1em;
    }

    #footer-content li ul li {
        font-size: 1em;
    }

    #footer-content img {
        width: 90px;
    }
}

@media screen and (max-width: 350px) {

    #innerTitleBox h2 {
        font-size: 1.5em;
    }

    #innerTitleBox h4 {
        font-size: 0.8em;
    }


    #about-flex-1 {
       flex-direction: column;
    }

    #about-flex-1 .about-image img {
        margin-top: 30px;
    }

    #about-flex-4 h2 {
        font-size: 1.1em;
    }

    #about-flex-3 {
        flex-direction: column;
     }

     #about-flex-3 .about-image img {
        margin-top: 30px;
    }

}

@media screen and (max-width: 300px) {
    #innerTitleBox h2 {
        font-size: 2.4em;
    }

    #innerTitleBox h4 {
        font-size: 0.7em;
    }

    #hero_profilepic div {
        width: 130px;
        height: 130px;
    }

    #hero_profilepic div img {
        width: 120px;
        height: 120px;
    }

    #about-flex-1 h2 {
        font-size: 0.8em;
    }

    #about-flex-2 h2 {
        font-size: 0.7em;
    }

    #about-flex-3 h2 {
        font-size: 0.7em;
    }
}