@font-face {
    font-family: space;
    src: url(../fonts/SpaceMono-Bold.ttf);
}

:root {
    --main-color: #1c011f;
    --highlight-color-1: #ff7700;
    --highlight-color-2: #e600ff;
    --soft-text-color: #585858;
}


html, * {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth !important;
}

body {
    background-color: var(--main-color);
    overflow-x: hidden;
    font-family: space;

}

section {
    padding: 0 80px;
}

.mobile-divider {
    display: none;
}

.desktop-divider {
    display: block;
    
}

#contact-section, #skills-section, #footer-section {
    height: 0;
    background-color: white;
}


#about, #resume {
    background-color: white;
    color: rgb(30, 30, 30);
    position: relative;
    z-index: 6;
}

#about {
    padding-top: 60px;
    padding-bottom: 140px;
}

#resume {
    padding-top: 140px;
}




.about-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.about-flex div {
    width: 50%;
}

.about-image img {
    display: block;
    margin: 0 auto;

}

.about-image img {
    width: 100px;
    height: 100px;
}


#about-flex-1 h2 {
    font-size: 1.8em;
    line-height: 2.2em;
    margin-right: 10px;
    color:#616161;
}

#about-flex-2 {
    margin-top: 100px;
}

#about-flex-2 h2 {
    font-size: 1.2em;
    line-height: 2em;
    color: #616161;
}

#about-flex-3 {
    margin: 0 80px 60px 70px;
    color: white;
}

#about-flex-3 h2 {
    font-size: 1.2em;
    line-height: 2em;
}

#about-flex-4 {
    flex-direction: column;
    z-index: 7;
    position: relative;
}

#about-flex-1 .highlight-1, #about-flex-1 .highlight-2 {
    color: white;
    position: relative;
    padding: 0 10px 2px;
}

#about-flex-1 .highlight-1::after, #about-flex-1 .highlight-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotateZ(1deg) skewX(6deg);
}

#about-flex-1 .highlight-2 {
    color: #e600ffa8;
}

#about-flex-1 .highlight-2::after {
    transform: none;
    height: 0;
    bottom:0;
    top: unset
}

#about-flex-1 .highlight-1:after {
    background-color: #ff7700a1;
}

#about-flex-1 .highlight-2:after {
    background-color: #e600ffa8;
}


#about-flex-4 .highlight-1, #about-flex-4 .highlight-2 {
    color: white;
    position: relative;
    padding: 0 10px 2px;
}

#about-flex-4 .highlight-1::after, #about-flex-4 .highlight-2::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotateZ(2deg) skewX(8deg);
}

#about-flex-4 .highlight-1:after {
    background-color: #ff7700a1;
}

#about-flex-4 .highlight-2:after {
    background-color: #e600ffa8;
}

#about-flex-4 > div {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 0 0 100px 0;
}

#about-flex-4 > div > div:nth-child(1) {
    margin-right: 40px;
}



#about-flex-4 h2 {
    font-size: 1.2em;
    line-height: 2em;
    color: #616161;
}

#about-flex-4 .about-image div {
    width: fit-content;
    padding: 20px;
    box-shadow: 2px 4px 16px #463e3e42;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    border: 2px solid #ececec;
}

#resume_btn {
    display: block;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    background: linear-gradient(90deg, #e600ff, #ff7700);
    border-radius: 50px;
}

#resume_btn a:link, #resume_btn a:visited, #resume_btn a:hover, #resume_btn a:active {
    text-decoration: none;
    color: white;
    padding: 10px 80px;
    display: block;
    position: relative;
    transition: padding 200ms ease-in-out;
}

#resume_btn a span {
    position: absolute;
    opacity: 0;
    right: 20px;
    transform: translateX(-200%);
    transition: transform 200ms ease-in-out, opacity 200ms linear;;
}


#resume_btn a:hover {
    padding: 10px 140px 10px 20px;
}

#resume_btn a:hover span {
    opacity: 1;
    transform: translateX(0);
}




.highlight-1 {
    color: var(--highlight-color-1);
}

.highlight-2 {
    color: var(--highlight-color-2);
}

#skills {
    margin-left: 0;
    margin-right: 0;
   /* background-image: url(../images/space.jpg);*/
   /* background-color: #1c011f91;
    background-blend-mode: overlay;*/
    
}

#skills .about-image .mobile-image {
    display: none;
}

#skillsContent, #contactContent {
    position: relative;
    z-index: 6;
}

#skillsContent {
    margin: -100px 0 -100px;
    z-index: 8;
}

#contactContent {
    padding: 20px;
}


#skills, #contact {
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
}

#contactSection {
    padding: 0 0 120px 0;
    z-index: 6;
    position: relative;

}

#contact-section, #skills-section, #footer-section, #resume-section {
    z-index: 6;

}


#skills {
    z-index: auto;
}


#skillsWrapper, #contactWrapper {
    position: absolute;
    width: 100%;
    height: 110%;
    top: 0;
    left: 0;
}

#skillsWrapper canvas, #contactWrapper canvas {
    z-index: 6;
}

#contact {
    box-shadow: 10px 10px 40px rgb(81 81 81 / 50%);
    border-radius: 20px;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background: linear-gradient(#3e3e3e59, #444141b3) border-box, linear-gradient(225deg, #fbf9f9ab, #1d758900) padding-box;
    border: 3px solid rgb(180 180 180 / 63%);
}


#contact::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    background: linear-gradient( 225deg, #ffffff1f, #a0a0a012 30%, #a0a0a012 35%, transparent 35%, transparent 37%, #a0a0a012 37%, #a0a0a012 40%, transparent 40%);
}

#contactTitle {
    color: #ffffff;
    text-shadow: 2px 2px 2px #e210d1;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 10px;
}


#contact form {
    display: flex;
    flex-direction: column;
    font-size: 16px;
}

#contact form label {
    color: white;
    margin: 0 0 10px 4px;
}

#contact form input, #contact form textarea {
    padding: 4px;
    margin: 0 0 16px 0;
    font-size: 16px;
    font-weight: 700;
    color: rgb(113, 113, 113);
    background-color: whitesmoke;
    border-radius: 5px;
    border: 1px solid grey;
    outline: none !important;
    resize: none;
}

#contact form input {
    width: 40%;
}

#contact form button {
    margin: 10px auto 0;
    border-radius: 20px;
    width: fit-content;
    padding: 10px 100px;
    font-size: 16px;
    cursor: pointer;
    background-color: #500259;
    border: 2px solid rgba(255, 255, 255, 0.4);
    color: white;
    transition: background-color 100ms linear, border 100ms linear, box-shadow 100ms linear, padding 200ms linear;
    position: relative;
    bottom: 0;
    display: flex;
    align-items: center;
}



#contact form button:hover {
    border: 2px solid white;
    background-color: transparent;
    box-shadow: 0 0 10px white;
    padding: 10px 160px 10px 40px;
}

#contact form button span {
    position: absolute;
    opacity: 0;
    right: 20px;
    transform: translateX(-200%);
    transition: transform 200ms ease-in-out, opacity 200ms linear;
}


#contact form button:hover span{
    opacity: 1;
    transform: translateX(0);
}


#footer {
    background-color: #500259;
    color: white;
    z-index: 6;
    position: relative;

}

#footer-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    width: 80%;
    margin: 0 auto;
    padding: 60px 0 80px 0;
}

#footer-content > div {
    width: 33%;
}

#footer-content > div > div {
    display: block;
    width: inherit;
    margin: 0 auto;
}

#footer-content img, #footer-content ul {
    display: block;
    margin: 0 auto;
}

#footer-content img {
    padding-top: 10px;
    width: 180px;
}

#footer-content h4{
    font-size: 1.3em;
    line-height: 2em;
    color: var(--highlight-color-1);
}

#footer-content ul {
    list-style: none;
}

#footer-content #footer-nav li {
    font-size: 1.1em;
    line-height: 2em;
}

#footer-content li ul {
    padding-left: 0;
}

#footer-content li ul li {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 2em;
}

#footer a:link, #footer a:visited, #footer a:hover, #footer a:active{
    color: inherit;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 14px;
}
  
  /* Track */
::-webkit-scrollbar-track {
    background: #1c011f;
}
  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #e600ff;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #d400eb;
}


  